<h2><%= @quiz.question %></h2>

<%= form_with url: quiz_answer_path, method: :post, data: { turbo: false } do %>
  <ul>
    <li><%= radio_button_tag :answer, 1, false, required: true %> <%= @quiz.choice1 %></li>
    <li><%= radio_button_tag :answer, 2, false, required: true %> <%= @quiz.choice2 %></li>
    <li><%= radio_button_tag :answer, 3, false, required: true %> <%= @quiz.choice3 %></li>
    <li><%= radio_button_tag :answer, 4, false, required: true %> <%= @quiz.choice4 %></li>
  </ul>
  <%= submit_tag "回答する" %>
<% end %>
